body {
    font-family: Arial, sans-serif;
    background-color: var(--space-cadet);
    color: var(--beaver);
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--tea-green);
    text-align: center;
}

form {
    text-align: center;
    margin-top: -10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#search-form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 330px;
    max-width: 1000px;
}

.user {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#u-bookshelf {
    margin-left: 10px;
    width: 32px;
    height: 32px;
}

#search-input {
    width: 300px;
    padding: 8px;
    border: none;
    background-color: antiquewhite;
    outline: none;
    border: 1px solid black;
    margin-right: 10px;
}

button[type="submit"],
#prev-button,
#next-button {
    background-color: var(--tea-green);
    color: var(--space-cadet);
    border: 2px solid black;
    padding: 8px 16px;
    cursor: pointer;
    outline: none;
}

button[type="submit"]:hover,
#prev-button:hover,
#next-button:hover {
    background-color: antiquewhite;
}

#book-list {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.book-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: var(--tea-green);
    color: var(--space-cadet);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    padding: 20px;
    width: 800px;
    text-align: left;
    position:relative;
}

.book-item img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.book-item-details {
    display: flex;
    flex-direction: column;
}

.book-item h2 {
    margin: 0 0 10px;
}

.book-item .book-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.book-item .book-info p {
    margin: 5px 0;
}

.book-item .add-to-library-button {
    background-color: var(--tea-green);
    color: var(--space-cadet);
    border: 2px solid black;
    cursor: pointer;
    outline: none;
    display: block;
    position: absolute;
    right: 10px;
    top: 140px;
}

.book-item .add-to-library-button:hover {
    background-color: antiquewhite;
}

#pagination {
    text-align: center;
    margin-top: 20px;
}
