body {
    font-family: Arial, sans-serif;
    background-color: var(--space-cadet);
    color: var(--beaver);
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--tea-green);
    text-align: center;
}

form {
    text-align: center;
    margin-top: -10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.user {
    display: flex; /* Usare flex per allineare gli elementi */
    align-items: center; /* Centrare verticalmente gli elementi */
    margin-left: 20px; /* Aggiungere margine sinistro per separare il div dell'utente dal form */
}

#u-bookshelf {
    margin-left: 10px; /* Aggiungere margine sinistro per separare l'icona del libroshelf dall'icona dell'utente */
    width: 32px;
    height: 32px;
}


#search-input {
    width: 300px;
    padding: 8px;
    border: none;
    background-color: antiquewhite;
    outline: none;
    border: 1px solid black;
    margin-right: 10px;
}

button[type="submit"],
#prev-button,
#next-button {
    background-color: var(--tea-green);
    color: var(--space-cadet);
    border: 2px solid black;
    padding: 8px 16px;
    cursor: pointer;
    outline: none;
}

button[type="submit"]:hover,
#prev-button:hover,
#next-button:hover {
    background-color: antiquewhite;
}

#book-list {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.book-item {
    display: flex;
    flex-direction: row; /* Disporre il contenuto in una riga */
    align-items: flex-start; /* Allineare gli elementi all'inizio della riga */
    background-color: var(--tea-green);
    color: var(--space-cadet);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    padding: 20px;
    width: 800px;
    text-align: left; 
    position:relative;
}

.book-item img {
    max-width: 100px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px; /* Margine destro per separare l'immagine dal testo */
}

.book-item-details {
    display: flex;
    flex-direction: column; /* Disporre le informazioni in una colonna */
}

.book-item h2 {
    margin: 0 0 10px; /* Margine inferiore per separare il titolo dagli altri elementi */
}

.book-item .book-info {
    display: flex;
    flex-direction: column; /* Disporre le informazioni in una colonna */
    gap: 5px; /* Spazio tra gli elementi */
}

.book-item .book-info p {
    margin: 5px 0; /* Margine verticale per gli elementi di testo */
}

.book-item .add-to-library-button {
    background-color: var(--tea-green);
    color: var(--space-cadet);
    border: 2px solid black;
    cursor: pointer;
    outline: none;
    display: block;
    position: absolute;
    right: 10px;
    top: 140px;
}

.book-item .add-to-library-button:hover {
    background-color: antiquewhite;
}

#pagination {
    text-align: center;
    margin-top: 20px;
}


