body {
    font-family: Arial, sans-serif;
    background-color: var(--space-cadet);
    color: var(--beaver);
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--tea-green);
    text-align: center;
}

form {
    text-align: center;
    margin-top: 20px;
}

#search-input {
    width: 300px;
    padding: 8px;
    border: none;
    border-radius: 20px;
    outline: none;
    border:1px solid black;
}

button[type="submit"],
#prev-button,
#next-button {
    background-color: var(--tea-green);
    color: var(--space-cadet);
    border: 2px solid black;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    outline: none;
}

button[type="submit"]:hover,
#prev-button:hover,
#next-button:hover {
    background-color: #a3e3b8;
}


#book-list {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.book-item {
    display: flex; /* Aggiunto display flex per allineare l'immagine e il contenuto */
    align-items: center; /* Centrare verticalmente il contenuto */
    background-color: var(--tea-green);
    color: var(--space-cadet);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px auto; /* Imposta il margine superiore e inferiore su auto per centrare il contenuto */
    padding: 20px;
    max-width: 600px; /* Larghezza massima del contenitore */
}

.book-item img {
    max-width: 100px; /* Larghezza massima dell'immagine */
    height: auto;
    border-radius: 10px;
    margin-right: 20px; /* Aggiunto margine destro per separare l'immagine dal testo */
}

.book-item h2 {
    margin-top: 0; /* Rimuove il margine superiore predefinito per il titolo */
    
}


.book-item-details {
    flex-grow: 1; /* Espande il div per occupare lo spazio rimanente */
}

#pagination {
    text-align: center;
    margin-top: 20px;
}
